.button-link {
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #113285;
    font-size: 1rem;
}

.button {
    border: none;
    border-radius: 0;
    background-color: #0F2540;
    color:#FCFAF2;
    font-size: 1rem;
}