.dropdown-menu__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-submenu__list {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu__item:hover .dropdown-submenu__list{
    display: initial;
    position: absolute;
}