* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: papayawhip;
    font-family: sans-serif;
}

header {
    height: auto;
    margin: 0rem;
    background-color: burlywood;
    display: flex;
    align-self: center;
    grid-template-columns: auto auto;
}

.header__logo {
    align-self: flex-start;
}

header h1 {
    margin: 0rem;
    align-self: center;
    margin: 0 auto;
    font-size: 1;
}

/* Navigation Bar */
nav {
    padding: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu__list {
    display: none;
}

.skip_to_main_content {
    background: #e77e23;
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip_to_main_content:focus {
    transform: translateY(0%);
}


/* Dropdown Hamburger Menu */
/* below CSS adapted from https://css.gg under the MIT License */
.gg-menu {
    transform: scale(var(--ggs, 1));
}

.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: currentColor
}

.gg-menu::after,
.gg-menu::before {
    content: "";
    object-position: top right;
    top: 0;
    right: 0;
}

.gg-menu::after {
    top: 0;
}

/* Default Dropdown Hamburger Content(hidden) */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown_content li {
    display: none;
}


/* Dropdown Content(When Toggle) */
.dropdown {
    position: absolute;
    top: 6px;
    right: 0;
}

.dropdown_content.active {
    background-color: burlywood;
    display: block;
}

.dropdown_content.active li {
    display: block;
    list-style: none;
}

.dropdown_content.active li a {
    display: block;
    padding: 1rem;
}

.dropdown_content.active li:hover {
    background-color: skyblue;
    color: #eee;
}


/* Cards */

.cards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;
    margin: 0;
}

.card {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #eee;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.card img {
    height: auto;
    width: 30%;
}


/* Dialog Window */
.modal::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}

.modal__buttons--align {
    display: flex;
    justify-content: space-between;
}

.modal__dialog--subscribe {
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: lime;
    align-self: flex-start;
    bottom: 0.5rem;
    left: 0.5rem;
}

.modal--open {
    border: none;
    background-color: none;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    font-size: 17px;
}

.modal__dialog--close {
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 0.5rem;
    background-color: lightcoral;
    bottom: 0.5rem;
    right: 0.5rem;
}

/* Form Settings inside the Dialog */

.subscribe__email,
.subscribe__confirm {
    display: grid;
    flex-direction: column;
    padding-bottom: 1rem;
}

.required__field {
    font-style: italic;
}

/* Email and Confirmation Error Message Display Style */
.subscribe--email__error,
.subscribe--confirm__error {
    border-color: red;
    color: red;
    font-style: italic;
}


/* Footer */
.footer {
    background-color: burlywood;
    bottom: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    color: burlywood;
    display: grid;
}

.footer__list {
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 12;
    list-style: none;
    padding: 1rem;
    background-color: burlywood;
}

@media(min-width: 44rem) {
    .dropdown {
        display: none;
    }

    .menu__list {
        grid-template-columns: repeat(12, 1fr);
        list-style: none;
        background-color: burlywood;
        margin: 0;
        padding: 1rem;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column: span 4;
    }

    .cards {
        padding: 0;
    }

    .card {
        grid-column: span 4;
    }

    .footer__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        grid-column: span 4;
    }
}