.footer {
    display: grid;
    background-color: var(--bg-banner-color);
    grid-template-areas:
        "footer__title"
        "footer__place-list"
        "footer__link-list"
        "footer__social-list";
    padding: 1rem;
}

.footer__title {
    font-size: 1rem;
    grid-area: footer__title;
}

.footer__place-list {
    grid-area: footer__place-list;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

.footer__place-item {
    padding-right: 8px;
}

.footer__link-list {
    grid-area: footer__link-list;
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    list-style: none;

    /* Let the border not to stretch downwards */
    align-items: flex-start;
}

.footer__link-item {
    font-size: 1rem;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid black;
}

.footer__link-item:last-child {
    border-right: none;
}

.footer__link-item:first-child {
    padding-left: 0;
}

.footer__social-list {
    grid-area: footer__social-list;
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
    margin-right: auto;
    list-style: none;
}

.footer__social-item {
    padding-right: 8px;
}

@media(min-width: 44rem) {
    .footer {
        grid-template-areas:
            "footer__title footer__title"
            "footer__place-list footer__place-list"
            "footer__link-list footer__social-list";
        grid-template-columns: auto 1fr;
    }

    .footer__social-list {
        margin-right: 0;
        margin-left: auto;
    }

    .footer__social-item {
        padding-left: 8px;
    }
}