.global-nav {
    background-color: none;
    display: flex;
    flex-direction: column;
}

.global-nav__toggle {
    align-self: flex-end;
    margin-left: auto;
    padding: 17px;
    font-size: 1rem;
    border: none;
    background-color: lightblue;
    display: inline-block;
}

.global-nav__list {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}


.global-nav__list--open {
    /* position: absolute;
    top: 150px; */
    display: block;
    align-self: flex-end;
}

.global-nav__link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.global-nav__link:hover {
    background-color: aliceblue;
    color: black;
}

@media(min-width: 44rem) {
    .global-nav {
        background-color: none;
        display: inline-block;
    }

    .global-nav__toggle {
        display: none;
    }

    .global-nav__list--open {
        display: inline-block;
        align-self: flex-end;
    }

    .global-nav__list {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}