.big__card {
    display: block;
    border: 1.5px solid black;
    border-radius: none;
    padding: 0.5rem;
    background-color: #eee;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.big__card__pic {
    width: 125px;
    height: 125px;
}

.big__card__pic__left {
    float: left;
}

.big__card__pic__right {
    float: right;
}

.big__card__content {
    padding: 1rem;
}

@media (min-width: 44rem) {
    .big__card {
        display: flex;
        flex-direction: row;
    }

    .big__card__reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .big__card__pic {
        height: 200px;
        width: 200px;
    }

}