.footer {
    display: grid;
    margin-top: auto;
}

.footer__gradient{
    height: 2rem;
    background: linear-gradient(to top, var(--kon), var(--gofun));
}

.footer__ul {
    display: grid;
    background-color: var(--kon);
    padding:0.5rem;
    margin:0;
    text-align: center;
    grid-template-columns: repeat(12, 1fr);
    justify-content: space-around;
}

.footer__link{
    list-style: none;
    grid-column: span 3;
}

.footer__text {
/* not shown on phones! */
    display:none;
    color: var(--gofun);
    text-decoration: none;
    font-family: helvetica;
}

.footer__icon {
    display: initial;
    width: 25px;
    height: 25px;
    color: var(--gofun);
}

@media(min-width: 44rem) {
    
    .footer__text {
        display: initial;
    }

    .footer__icon {
        display: none;
    }
}