* {
    box-sizing: border-box;
}

/* Mobile Ver: */
body,
html {
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;

}

.header {
    grid-column: span 6;
    margin: auto;
    width: 50%;
    height: 50%;
}


.inputset {
    display: grid;
    grid-column: span 6;
    padding: 0.5rem;
}

.annoy {
    display: grid;
    grid-column: span 6;
    padding: 0.5rem;
}

.tier {
    display: grid;
    grid-column: span 6;
    padding: 0.5rem;
}

.tier select {
    width: 200px;
}

.annoy input {
    width: auto;
}

input {
    width: 100px;
}

button {
    margin: 0.5rem;
}

footer {
    margin: auto;
    width: 50%;
}

/* PC Ver: */
@media(min-width:50rem) {
    form {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .header {
        grid-column: span 12;
    }


    .inputset {
        display: flex;
        grid-column: span 12;
    }

    .annoy {
        display: flex;
        grid-column: span 12;
    }

    .tier {
        display: grid;
        grid-column: span 12;
    }

    input {
        width: 200px;
    }


}