* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: #E4DBD4;
    font-family: sans-serif;
}

/* Header */

header {
    grid-area: header;
    height: auto;
    margin: 0rem;
    background-color: #DEC497;
    display: flex;
    align-self: center;
    grid-template-columns: auto auto;
}



header img {
    align-self: flex-start;
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
}

header h1 {
    margin: 0rem;
    align-self: center;
    margin: 0 auto;
    font-size: 1;
}

main h2 {
    margin: 0rem;
    display: flex;
    justify-content: space-around;
}

/* Navigation Bar */
nav {
    grid-area: nav;
    padding: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* DropDownList */

/* Dropdown Button */
.dropbtn {
    background-color: #b6c09f;
    color: gray;
    padding: 10px;
    font-size: 4px;
    border: none;
    cursor: pointer;
}

/* Dropdown Container position */
.dropdown {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
}

/* Dropdown Contents(Default: hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E4DBD4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 80%;
}

/* Dropdown Links */
.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover Effect */
.dropdown-content li:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b6c09f;
    opacity: 50%;
}

/* Main */

main {
    grid-area: main;
    height: auto;
    margin: 0rem;
    padding: 1rem;
    background-color: #b6c09f;
    justify-content: space-around;
}

/* Cards */

.cards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    margin: 0;
}

.card {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid #dce1d1;
    border-radius: 20px;
    padding: 0.5rem;
    background-color: #7c8b5b;
    justify-content: space-around;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.card__link {
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #373e28;
    color: #E4DBD4;
    text-decoration: none;
}

.card__link:hover {
    box-shadow: 0 0 5px 5px #E4DBD4;
}

.card img {
    height: auto;
    width: 30%;
}

.Description_of_Naonao {
    padding: 10px;
    max-width: 50rem;
    margin: 0 auto;
    padding-top: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #E4DBD4;
    box-shadow: 1px 1px 1px #999;
    display: grid;
    align-items: center;
}

/* Form */

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inputset {
    display: grid;
    grid-column: span 6;
    padding: 0.5rem;
}

.annoy {
    display: grid;
    grid-column: span 6;
    padding: 0.5rem;
}

.tier {
    display: grid;
    grid-column: span 6;
    padding: 0.5rem;
}

.tier select {
    width: 200px;
}

.annoy input {
    width: auto;
}

input {
    width: 100px;
}

button {
    margin: 0.5rem;
}


/* Footer */

footer {
    grid-area: footer;
    height: auto;
    margin: 0rem;
    background-color: #DEC497;
    grid-column: span 12;
}



@media(min-width:50rem) {
    body {
        grid-template-columns:
            "header header"
            "nav nav"
            "main main"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 1fr auto;
    }


    header h1 {
        font-size: 2em;
    }

    header img {
        width: 150px;
        height: 150px;
    }

    .dropbtn {
        padding: 16px;
        font-size: 16px;
    }

    .card img {
        height: auto;
        width: 50%;
    }

    .card {
        grid-column: span 4;
        margin-left: 1rem;
        margin-right: 1rem;
        width: 300px;
        height: 450px;
    }

    /* Form config */
    form {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .inputset {
        display: flex;
        grid-column: span 12;
    }

    .annoy {
        display: flex;
        grid-column: span 12;
    }

    .tier {
        display: grid;
        grid-column: span 12;
    }

    input {
        width: 200px;
    }

    /* Form config ends */
}