/* Souvenir Display Below */

.souvenir-display {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.souvenir-panel {
	background: linear-gradient(var(--kon), var(--rurikon));
	grid-column: span 12;
	border-radius: 2%;
	height: auto;
	width: 300px;
	margin: 2rem;
}


.badge-description {
	color: var(--shironezumi);
	font-size: medium;
}

.badge-pic {
	height: 200px;
	width: 200px;
	align-items: center;
	padding: 1rem;
	border-radius: 50%;
}

.souvenir-panel:hover{
    box-shadow: 0 0 10px var(--kon);
    zoom:1;
	transform: scale(1.2);
}

.buy-btn {
	margin: 1rem;
    background-color: var(--gofun);
    border: none;
    color: var(--kon);
}

.buy-btn:hover {
    box-shadow: 0 0 10px rgb(255,255,2555);
}


@media (min-width: 50rem) {
	.souvenir-panel {
		grid-column: span 4;
		width: auto;
		max-width: 300px;
	}
}

