form {
    border: 1px solid black;
    margin-bottom: 20px;
}

.alpha {
    display: grid;
    grid-template-columns: auto;
}

.beta>label {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.beta>input[type-checkbox] {
    margin-right: auto;
}

.gamma label {
    display: flex;
    flex-direction: row;
    line-height: 1.8;
    margin-bottom: 0.5rem;
}

.gamma span {
    min-width: 120px;

}